@import './mixins.scss';

body {
    width: 100%;
    height: 100%;
    margin: 0;

    #root {
        width: 100%;
        height: 100%;

        .App {
            display: grid;
            grid-template-columns: 350px calc(100% - 350px);
            grid-template-rows: auto;
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100vh;

            @media ( max-width: 900px ) {
                grid-template-columns: 100% 100%;
                grid-template-rows: calc(100% - 300px) 300px;
            }


        }

    }

}
