@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open-sans', sans-serif;
    font-weight: normal;
    color: black;

    h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 0;
    }


    #root {
        width: 100%;
        height: 100%;

        .App {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: calc(100vh - 200px) minmax(200px, auto);
            position: relative;
            z-index: 0;
            width: 100%;
            min-height:100vh;


            @media ( max-width: 1050px ) {
                grid-template-rows: calc(100vh - 300px) minmax(300px, auto);
            }

        }

    }

}
