@mixin flex( $justify, $align, $direction, $gridgap ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    grid-gap: $gridgap;
}

@mixin padding( $top, $right, $bottom, $left ) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
