@import '../../mixins.scss';

.aircrafts {
    @include flex( flex-start, flex-start, column, 20px );
    width: 100%;
    @include padding( 10px, 20px, 10px, 20px );
    box-sizing: border-box;

    .aircraft {
        @include flex( center, center, column, 30px );
        width: 100%;
        @include padding( 30px, 10px, 30px, 10px );
        box-sizing: border-box;
        background-color: white;
        border-radius: 6px;
        filter: drop-shadow( 0px 4px 4px rgba(0,0,0,0.25) );

        img.aircaft {
            width: 150px;
            max-width: 100%;
            height: auto;
        }

        h4 {
            margin: 0;
        }

    }
}
