@import '../../mixins.scss';

.navigation {
    @include flex( center, flex-start, column, 40px );
    width: 200px;

    @media ( max-width: 1050px ) {
        @include flex( center, center, initial, 20px );
        width: 100%;
        padding-top: 20px;
        margin-bottom: 40px;
        background-color: white;
    }

    .item {
        @include flex( center, center, row, 10px );
        font-size: 1.5em;
        user-select: none;

        @media ( max-width: 1050px ) {
            @include flex( center, center, column, 10px );
            width: 70px;
        }

        cursor: pointer;

        small {
            font-size: 12px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 10px;
        }

    }

    .active {
        color: #024;
        @media ( max-width: 1050px ) {
            @include flex( center, center, column, 10px );
            border-bottom: 2px solid #024;
        }
    }

    .inactive {
        color: grey;
        @media ( max-width: 1050px ) {
            @include flex( center, center, column, 10px );
            border-bottom: 2px solid white;
        }
    }
}
