@import '../../mixins.scss';

.navigation {
    @include flex( flex-start, center, initial, 40px );
    width: 100%;
    border-bottom: 1px solid grey;
    @include padding( 10px, 20px, 10px, 20px );
    box-sizing: border-box;

    .item {
        @include flex( center, center, column, 7px );
        font-size: 1.5em;

        cursor: pointer;

        small {
            font-size: 12px;
        }
    }
}
