@import '../../mixins.scss';

.results {
    @include flex( flex-start, center, column, 0px );
    width: 100%;
    max-width: 500px;
    height: calc(100vh - 300px);
    @include padding( 10px, 0px, 30px, 0px );
    box-sizing: border-box;
}
