.mapboxgl-map{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    @media ( max-width: 900px ) {
        grid-column: 1;
        grid-row: 1;
    }

    .airport-marker {
        width: 25px;
        height: 25px;
    }

}
