@import '../../mixins.scss';


.airport {
    @include flex( flex-start, flex-start, column, 10px );
    width: 100%;
    box-sizing: border-box;

    .airport-detail {
        @include flex( flex-start, flex-start, column, 5px );
        border-bottom: 1px solid rgba(173,216,230,.75);
        @include padding( 0px, 0px, 10px, 0px );
        margin-bottom: 8px;
        width: 100%;

        h5 {
            margin: 0;
        }

        small {
            font-size: 11px;
        }
    }

}


.container {
    @include flex( center, flex-start, column, 5px );
    width: 100%;


    .trigger {
        @include flex(flex-end, center, row, 5px );
    }

    .weather {

    }
}
