.suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #D7DEDD;
    cursor: pointer;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            position: relative;
        }
    }

    h5 {
        font-size: 13px;
        margin: 0px;
    }

    small {
        font-size: 11px;
    }
}
