@import '../../mixins.scss';

.suggestion {
    @include flex( flex-start, center, initial, 12px );
    width: 100%;
    @include flex( center, center, initial, 0px );
    @include padding( 20px, 15px, 20px, 15px );    
    box-sizing: border-box;
    border-bottom: 1px solid #D7DEDD;
    cursor: pointer;

    .icon {
        @include flex( center, center, initial, 0px );
    }

    h5 {
        font-size: 13px;
        margin: 0px;
    }

    small {
        font-size: 11px;
    }
}
