@import '../../mixins.scss';

.plan {
    @include flex( flex-start, flex-start, column, 10px );
    width: 100%;
    @include padding( 30px, 20px, 10px, 20px );
    box-sizing: border-box;

    .plan-detail {
        @include flex( flex-start, flex-start, column, 5px );
        border-bottom: 1px solid rgba(173,216,230,.75);
        @include padding( 5px, 0px, 8px, 0px );
        width: 100%;

        h5 {
            margin: 0;
        }

        small {
            font-size: 11px;
        }
    }

}
