@import '../../mixins.scss';

.search-box {
    width: 100%;
    height: 200px;
    background-color: $darkBlue;
    position: relative;
    @include flex( center, center, column, 0px );

    @media ( max-width: 1050px ) {
        height: 300px;
    }

    form {
        @include flex( center, center, column, 25px );
        width: 100%;
        max-width: 1000px;
        height: 100%;
        @include padding( 0px, 20px, 40px, 20px );
        box-sizing: border-box;
        position: relative;

        @media ( max-width: 1050px ) {
            max-width: 500px;
        }

        .header {
            @include flex( space-between, center, initial, 0px );
            width: 100%;

            .app-logo {
                @include flex( flex-start, center, initial, 10px );
                color: white;

                h4 {
                    margin: 0px;
                }

            }

            .trigger {
                color: white;
                cursor: pointer;
            }
        }

        h5.header {
            color: white;
        }

        .inputs {
            @include flex( center, center, row, 10px );
            width: 100%;

            @media ( max-width: 1050px ) {
                @include flex( center, center, column, 10px );
                max-width: 500px;
            }

            .autofill-component {
                width: 100%;
                position: relative;
                height: 50px;
            }

            .from {
                z-index: 6;
            }

            .to {
                z-index: 7;
            }

            button {
                @include flex( center, center, initial, 5px );
                width: 460px;
                max-width: 100%;
                height: 50px;
                color: white;
                background-color: blue;
                border: 0;
                border-radius: 6px;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
            }

        }

    }

}
